<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hussamsherif.ultratictactoe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hussamsherif.ultratictactoe.Activities.BoardActivity"></activity>
        <activity
            android:name="com.hussamsherif.ultratictactoe.Activities.SettingActivity"
            android:parentActivityName="com.hussamsherif.ultratictactoe.Activities.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hussamsherif.ultratictactoe.Activities.MainActivity" />
        </activity>
        <activity android:name="com.hussamsherif.ultratictactoe.Activities.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hussamsherif.ultratictactoe.Activities.WelcomeActivity"
            android:noHistory="true">
            android:configChanges="orientation"
            android:screenOrientation="portrait"
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d45e5292757f98afbe7585f6b61a89702c41a48b" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
